@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  
:root  {
  --background: 252 21% 95%;
  --foreground: 252 5% 10%;
  --card: 252 21% 90%;
  --card-foreground: 252 5% 15%;
  --popover: 252 21% 95%;
  --popover-foreground: 252 95% 10%;
  --primary: 252 52% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 252 21% 84%;
  --secondary-foreground: 0 0% 0%;
  --muted: 214 21% 85%;
  --muted-foreground: 252 5% 40%;
  --accent: 214 21% 84%;
  --accent-foreground: 252 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 252 5% 90%;
  --border: 252 21% 82%;
  --input: 252 21% 50%;
  --ring: 252 52% 60%;
  --radius: 1rem;
}
.dark  {
  --background: 252 21% 10%;
  --foreground: 252 5% 90%;
  --card: 252 21% 10%;
  --card-foreground: 252 5% 90%;
  --popover: 252 21% 5%;
  --popover-foreground: 252 5% 90%;
  --primary: 252 52% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 252 21% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 214 21% 25%;
  --muted-foreground: 252 5% 65%;
  --accent: 214 21% 25%;
  --accent-foreground: 252 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 252 5% 90%;
  --border: 252 21% 50%;
  --input: 252 21% 50%;
  --ring: 252 52% 60%;
  --radius: 1rem;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

:root {
  --toaster-z-index: 100000;
}

.sonner-toast-container {
  z-index: var(--toaster-z-index) !important;
}

@layer components {
  /* ✅ UNA SOLA CLASE para todos los pages */
  .page-content {
    @apply px-4 py-6 md:px-6 md:py-8 lg:px-8 lg:py-10;
  }
}